/* Vogel Standard Book */
.vg-stdbook-cont{
    background-color: var(--background-base);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.vg-stdbook-header{
    display: flex;
    justify-content: space-around;
    background-color: var(--BEE-blue);
    border-bottom: 10px solid var(--background-base);
    color: var(--text-light);
    width: 100%;
    height: 40px;
}
.vg-stdbook-header>div{
    width: 100%;
    border: 2px solid var(--background-dark);
    border-width: 2px 0px;
    font-size: 1.25em;
    text-align: center;
    vertical-align: baseline;
}
.vg-stdbook-header>div:nth-child(3){
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-dark);
    background-color: var(--background-light);
}


.vg-stdbook-pages{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;

}
.vg-stdbook-cont-views{
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
    height: calc(100vh - 40px); 

}
 .vg-stdbook-cont-views::-webkit-scrollbar{
    display:none;
}

.vg-stdbook-cont-sidenav{
    display: flex;
    background-color: var(--background-dark);
}

.vg-stdbook-cont-sidenav-right{
    justify-content: flex-end;
    padding-left:10px;
    padding-right:unset;
}
.vg-stdbook-cont-sidenav-right>div:first-child{
    background-color: var(--background-dark);
}

.vg-stdbook-cont-sidenav-button > div{
    display: none;
}
.vg-stdbook-cont-sidenav-button-selected > div {
    display: inline-flex;
    margin-top: 20px;
    align-items:center;
}
.vg-stdbook-cont-sidenav-button{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content 1fr 1fr;

    writing-mode:vertical-rl;
    padding:2px;
    padding-top: 5px;
    background-color: var(--background-dark);
    color:var(--text-light);
}
.vg-stdbook-cont-sidenav-button:hover{
    background-color: var(--background-light);
    color:var(--text-dark);
    cursor:pointer;
}
.vg-stdbook-cont-sidenav-button-selected{
    font-size: 2em;
    border-right: 3px solid var(--background-base);
}

/*Stops highlight from showing when tab is already selected */
.vg-stdbook-cont-sidenav-button-selected:hover{
    background-color: var(--background-dark);
    color: var(--text-light);
    cursor:unset;
}

@media print {
    *{
        -webkit-print-color-adjust: exact;
        forced-color-adjust: exact;
    }
    body{
        font-size: .75em;
    }
    .vg-stdbook-cont-sidenav, .vg-stdbook-header, .vg-utilcont-toggle{
        display: none;
    }
    .vg-stdbook-cont-views{
        padding: 0px;
        width: 100vw;
        height: 100vh;
        overflow: visible;
    }
}
