#vg-menu-bar{
    display:flex;
    justify-content: space-between;
    flex-flow: row;
    background-color: darkgray;
    width: 100%;
    height: 25px;
}
#vg-menu-title{
    color: white;
    flex-grow: 1;
    text-align: center;
}
.vg-menu-button-view{
    width: 12px;
}
.vg-menu-button-actions{
    width: 15px;
}
[class*="vg-menu-button-"]{
    margin: 5px 10px;
    filter: invert();
}
[class*="vg-menu-button-"]:hover{
    cursor: pointer;
    filter: none;
}
#vg-buttons-cont-actions{
    position: relative;
}

#rrq-moretools-menu-bar{
    position: absolute;
    left:0px;
    top:25px;
    background-color: darkgray;
}
.vg-menu-button-moretools{
    width: 20px;
    display: flex;
    flex-direction:column;
    margin: 10px;
}
