
.list-row{
  display:flex;
}
.list-row>div{
  overflow: hidden;
  flex-basis: 100px;
}
.list-row:nth-child(even){
    background-color: var(--background-med);
}
.list-row:hover{
    cursor: pointer;
    background-color: var(--hover-highlight);
}
