
/* Toast Popouts */
#vg-toast-tr{
  position: fixed;
  background-color: white;
  right:0px;
  top: 30px;
  filter: drop-shadow(3px 3px 5px black);
  z-index: 100;
}
#toast-close{
  grid-row: 1;
  cursor: pointer;
  place-self: start end;
  padding-right: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: bold;
  color: var(--text-dark);
  vertical-align: super;
}
[class*="vg-toast-"]{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10px 1fr;
}
[class*="vg-toast-"]>div:nth-child(2){
  text-align: center;
  padding: 0px 15px 10px 15px;
}
.vg-toast-red{
  background-color: rgba(255,0,0,.25);
  border: 3px solid red;
}
.vg-toast-yellow{
  background-color: rgba(255, 255, 0,.25);
  border: 3px solid yellow;
}
.vg-toast-green{
  background-color: rgba(0,255,0,.25);
  border: 3px solid green;
}
.vg-toast-white{
  background-color: white;
  border: 3px solid black;
}
@media print{
  [id*="vg-toast-"]{display:none;}
}