#login-box{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-base);
  border: 1px solid black;
  filter: drop-shadow(3px 3px 5px black);
  z-index: 100;
}
#login-info{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5px;
  row-gap: 5px;
  padding: 5px;
  align-items: center;
}
#login-submit{
  grid-column: 1 / 3;
  justify-self: end;
}
#splash-logo{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

