
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <style>
      </style>
      <table style="border-spacing:0">
        <tr>
          <td style="border-bottom:1px solid black;">that</td><td style="border-bottom:1px solid black;">that</td><td style="border-bottom:1px solid black;">that</td><td style="border-bottom:1px solid black;">that</td>
        </tr>
        <tr>
          <td>that</td><td>that</td><td>that</td><td>that</td>
        </tr>
        <tr>
          <td>that</td><td>that</td><td>that</td><td>that</td>
        </tr>
      </table>
    </body>
</html>
